
body{
    background-image: url(/background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    --bs-heading-color: black;
    
}

h1, h2, h3, h4, h5, h6{
    margin:0;
}

.bx, .bxs{
    font-size: 2rem;
}

.center-all {
    display: flex !important;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.center-v {
    display: flex !important;
    align-items: center;
}

.center-h {
    display: flex !important;
    justify-content: center;
    text-align: center;
}

.start-all {
    display: flex !important;
    justify-content: start;
    align-items: start;
    text-align: start;
}

.end-all {
    display: flex !important;
    justify-content: end;
    align-items: end;
    text-align: end;
}

.start-v {
    display: flex !important;
    align-items: start;
}

.end-v {
    display: flex !important;
    align-items: end;
}

.start-h {
    display: flex !important;
    justify-content: start;
    text-align: start;
}

.end-h {
    display: flex !important;
    justify-content: end;
    text-align: end;
}

.card-wrapper {
    /*height: 100%;*/
    /*margin: 0.75rem;*/
    padding: 0.4rem;
    display: block;

}

.card {
    width: 100%;
    background-color: rgba(255, 214, 0,.6);
    backdrop-filter: blur(6px);
    border: 0;
    border-radius: 1rem;
    width:175px;
    height: 115px;
    /*margin: 0.75rem;*/
    padding: .5rem;
}

.profilfoto{
    width: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 3px solid #ffd600;
    margin-bottom:1rem;
}


.f-col {
    display: flex;
    flex-direction: column;
}

.f-row {
    display: flex;
    flex-direction: row;
}

.ozka{
    color: #ffd600;
}

.bold{
    font-weight: bold;
}

a {
    text-decoration: none;
    color:unset;
}

.foto-area{
    background-image: url("tire-path.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.ozka-logo{
    width: 60%;
    margin-top:-10px;
    margin-bottom: 15px;
}

.button-box{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height:50vh;
}